@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

main p {
    width: 30%;
    margin: 0 auto;
}

body {
    text-align: center;
    background-color: lightslategray;
}

a {
    color: black;
    font-size: 20px;
    margin: 40px;
    font-family: Josefin+Sans;
}

h1 {
    font-family: Macondo;
    font-size: 70px;
    color: white;
}

img {
    width: 800px;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    color: white;
    padding-top: 50px;
}

p {
    font-family: Josefin+Sans;
    font-size: 25px;
}

.quote {
    padding-top: 50px;
    text-align: center;
    font-style: oblique;
    font-family: Macondo;
    font-size: 30px;
}

.rights {
    font-family: Josefin+Sans;
}
